<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>Document</title> -->
    <script src="https://kit.fontawesome.com/d817911436.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo_2.png">
    <link rel="stylesheet" href="/css/feed-posts.css">
</head>

<body>

    <% if (locals.user){ %>
        <!-- <h2 style="padding-left: 20px; padding-top: 4%; position: fixed;">
            Home
        </h2> -->


        <div id="home-container">

            <section id="menu">
                <h2> Menu </h2>
            </section>

            <section id="feed-posts">
                <h2 style="padding-top: 10%;">Posts</h2>
                <form action="/posts/create" id="new-post-form" method="post" class="card">
                    <textarea name="content" cols="50" rows="6" placeholder="Type Here..." required
                        style="border-radius: 10px; width: 92%; margin-top: 20px; outline: none; border: none; background-color: honeydew;"></textarea>
                    <br> <br>
                    <input type="submit" value="Post" class="btn">
                </form>

                <div id="posts-list-container" style="margin-right: 5%; margin-left: -5%;">
                    <ul style="list-style: none;">
                        <% for(post of posts) { %>

                            <%- include('_post') -%>

                        <% } %>
                    </ul>
                </div>
            </section>


            <section id="user-friends">
                <h2>Friends</h2>
                <% for(u of all_users) { %>
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>
                <% } %>
            </section>
        </div>

        <!-- importing this script for creating the comments -->
        <script src="/js/home_post_comments.js" ></script>
        <script src="/js/home_posts.js"></script>


        <% }else{ %>
            <img src="/images/bck2.png" style="
                width: 100%;
                align-items : center;
                height: 100%; 
                background-position: center center; background-size: cover;
                margin-top: 50px;" alt="img">
            <% } %>

</body>

</html>