<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>Document</title> -->
</head>
<body>

    <% if (locals.user){ %>
        <h1 style="padding-left: 30px;">
            Etilaicos / <%= title %>
        </h1>
        <% }else{ %>
            <img src="/images/bck2.png" style="
                width: 100%;
                align-items : center;
                height: 100%; background-position: center center; background-size: cover;" 
                alt="img">
        <% } %>
    
</body>
</html>        