<link rel="stylesheet" href="/css/user_profile.css">

<h1 style="padding-top: 4%; position: fixed;">
    Profile Page
</h1>
<div id="user-info">
    <p><%= user.name %></p>
    <p><%= user.email %></p>
</div>
