<link rel="stylesheet" href="/css/user_profile.css">

<h1>
    Profile Page
</h1>

<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<button id="sign-out-btn">
    <a href="/users/sign-out" style="text-decoration: none; color: black;">Sign Out</a>
</button>

