footer {
    background-color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: serif;
    color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    div {
        padding: 20px;
    }
}